:root{
  color-scheme: light dark;
  --primary-color: #F7B918;
  --primary-color-light: #ffeab6;
  --primary-color-dark: #F7B918;
  --primary-color-text: #3a3a46;

  --secondary-color: #94B432;
  --secondary-color-light: #d8ed92;
  --secondary-color-dark: #94B432;
  --secondary-color-text: #3a3a46;
}
