.dark{
  --background: #3A3A46;
  --paper: #494c5a;

  --text-primary: #ffffff;
  --text-secondary: #909099;
  --text-disabled: #3D3D49;

  --divider: #70707A;

  --shadow: 0px 18.493389129638672px 39.6066780090332px 0px #00000012;
  --shadow-light: 0px 0px 30.100000381469727px 0px #00000008;
}